<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="layout row">
    <div id="navigation">
        <ul id="nav-list">
            <li>
                <span>Courses</span>
                <ul>
                    <li>All courses</li>
                    <li>Enrollment</li>
                    <li>My courses</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</div>


</body>
</html>